<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BCI_Chips</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BCI_Chips.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Brain-Computer Interfaces</a>
                <ul class="navbar-links">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Choices">Technology Topic</a></li>
                    <li><a asp-controller="Home" asp-action="Ethics">Opportunities</a></li>
                    <li><a asp-controller="Home" asp-action="Evaluation">Risks</a></li>
                    <li><a asp-controller="Home" asp-action="Guidelines">Choices</a></li>
                    <li><a asp-controller="Home" asp-action="Guidelines">References</a></li>
                    <li><a asp-controller="Home" asp-action="Guidelines">Process Support</a></li>
                </ul>
                @* <ul class="navbar-links" style="padding-left: 80px;">
                    <li><a asp-controller="Home" asp-action="Choices">Technology Topic</a></li>
                    <li><a asp-controller="Home" asp-action="Ethics">Opportunities</a></li>
                    <li><a asp-controller="Home" asp-action="Evaluation">Risks</a></li>
                    <li><a asp-controller="Home" asp-action="Guidelines">Choices</a></li>
                    <li><a asp-controller="Home" asp-action="Guidelines">References</a></li>
                    <li><a asp-controller="Home" asp-action="Guidelines">Process Support</a></li>
                </ul> *@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - BCI_Chips - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
