@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-4 mb-4">
    <h1 class="mb-5">Choices Presented by BCIs</h1>

    <div class="row mb-5">
        <div class="col-md-6">
            <div class="section p-4 rounded shadow bg-light">
                <h2>Choice 1: Invasive or Non-Invasive BCI</h2>
                <p>
                    Since BCIs offer two different options either Invasive or Non-Invasive, it is important to choose which one is the better option. As discussed previously Non-invasive BCIs are cheaper, safer, and more portable but lack the temporal resolution needed for restoring movement through prosthesis. Whereas Invasive BCIs have very high temporal resolution allowing them for more advanced applications such as restoring movement, although it does come with a higher price. Within these two different BCIs developers must decide which method they will use to capture brain signals such as EEG, fMRI, MEG, MEA, and ECoG (Dam, 2025)(Burwell et al., 2017). This leaves us with the choice to choose between Invasive or Non-Invasive BCIs
                </p>
            </div>
        </div>
    </div>

    <div class="row mb-5 justify-content-end" style="margin-top: -150px;">
        <div class="col-md-6">
            <div class="section p-4 rounded shadow bg-light">
                <h2>Choice 2: Medical Use or Enhancement</h2>
                <p>
                    The main goal of BCIs is to use it as an assistive technology, as multiple studies found that BCI technology could be able to give patients with locked-in syndrome (LIS) the ability to communicate again. Also, patients who are paralysed or have ALS could use BCI to regain movement through prosthesis. However, it has also been suggested that BCI development should be extended to enhance cognitive or physical abilities in healthy individuals. This could be used for entertainment and enhancement purposes such as gaming and military surveillance applications (Mattia & Tamburrini, 2014). This leaves us with the choice of figuring out which use case we primarily want BCIs for.
                </p>
            </div>
        </div>
    </div>

    <div class="row mb-5" style="margin-top: -150px;">
        <div class="col-md-6">
            <div class="section p-4 rounded shadow bg-light">
                <h2>Choice 3: Ownership of Neural Data</h2>
                <p>
                    Ownership of the neural data collected from BCIs could be another choice that developers would have to make. Usually, people voluntarily input data they want into digital systems, however, BCIs may have access to unfiltered neural signals. This would mean that the neuron data could include unintentional thoughts, emotions, or memories that users did not intend or realise they were sharing. Currently, there is no clear law around the privacy of brain data which poses the threat that sources such as governments, employers or corporations can infringe on mental privacy (JusCorpus, 2025). This leaves developers with the choice of creating clear policies around data privacy and either respecting the user’s privacy or letting people take advantage of it.
                </p>
            </div>
        </div>
    </div>
</div>
