@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5">
    <h1 class="mb-4 text-center">Guideline Conformance Form</h1>

    <table class="table table-bordered text-center align-middle">
        <thead class="table-light">
            <tr style="color: #2b5876; font-weight: bold;">
                <th>Guideline</th>
                <th>Word Length<br />(approx 3000 words - 4500 Max - excluding references)</th>
                <th>Figures<br />(3 min 15 max - consider copyright)</th>
                <th>Multi-media Resources<br />(links - 3 max - consider copyright)</th>
                <th>References<br />(10 min high quality refereed sources, 20 max - including links)</th>
            </tr>
        </thead>
        <tbody>
            <tr style="color: #2b5876;">
                <th scope="row">Number Included</th>
                <td>Gt = 3000</td>
                <td>Gt = 3</td>
                <td>Lt = 3</td>
                <td>Gt = 10</td>
            </tr>
        </tbody>
    </table>
</div>
