@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<div class="container mt-5 text-center">
    <h1 class="mb-3">Meeting Minutes</h1>
    <p class="text-muted mb-4">
        Access the meeting minutes using the links below.
    </p>

    <a href="https://autuni-my.sharepoint.com/:w:/g/personal/nhv8105_autuni_ac_nz/EVw_5kyWOfBFqq3w5FZAqm4B35GblDv0fspY_wXl3-Q7rA?e=6a6139"
       class="btn btn-primary mb-3"
       target="_blank">
        View Main Document
    </a>
    <br />
    <a href="https://autuni-my.sharepoint.com/:w:/g/personal/nhv8105_autuni_ac_nz/EVw_5kyWOfBFqq3w5FZAqm4BwLw98K4Y7asw-iOH7dZ4jg?e=u7BimO"
       class="btn btn-secondary"
       target="_blank">
        View Backup Document
    </a>
</div>

