@{
    ViewData["Title"] = "References";
}

<h1 class="mt-4 mb-4">References</h1>

<div class="container">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Kumar, R., Waisberg, E., Ong, J., & Lee, A. G. (2025). <strong>The potential power of Neuralink – how brain-machine interfaces can revolutionize medicine.</strong> <em>Expert Review of Medical Devices, 22</em>(6), 521–524.
            <br />
            <a href="https://doi.org/10.1080/17434440.2025.2498457" target="_blank" class="text-primary">https://doi.org/10.1080/17434440.2025.2498457</a>
        </li>
        <li class="list-group-item">
            López-Larraz, E. (2020, March 3). <strong>What is BCI? An introduction to brain-computer interface using EEG signals.</strong> Bitbrain.
            <br />
            <a href="https://www.bitbrain.com/blog/brain-computer-interface-using-eeg-signals" target="_blank" class="text-primary">bitbrain.com </a>
        </li>
        <li class="list-group-item">
            Awuah Wireko, A., Ahluwalia, A., Darko, K. O., Sanker, V., et al. (2024). <strong>Bridging minds and machines: The recent advances of brain computer interfaces in neurological and neurosurgical applications.</strong> <em>World Neurosurgery</em>. Advance online publication.
            <br />
            <a href="https://doi.org/10.1016/j.wneu.2024.05.104" target="_blank" class="text-primary">https://doi.org/10.1016/j.wneu.2024.05.104</a>
        </li>
        <li class="list-group-item">
            University of Calgary. (n.d.). <strong>What is BCI?</strong> Calgary Pediatric Brain-Computer Interface Program.
            <br />
            <a href="https://cumming.ucalgary.ca/research/pediatric-bci/bci-program/what-bci" target="_blank" class="text-primary">ucalgary.ca</a>
        </li>
        <li class="list-group-item">
            Kokot, J. (2025, July 4). <strong>Overcoming life: Neuralink, cyborgs, and the (an)aesthetics of cure</strong> (Expanded penultimate draft). University of Colorado, Colorado Springs.
            <br />
            <a href="https://static1.squarespace.com/static/5e9cf867adeaff0b2e40751c/t/67f3c2abb3f3792b7b92cd61/1744028331534/Overcoming+Life+%5Bexpanded+penultimate+draft%5D+%2804.07.25%29.pdf" target="_blank" class="text-primary">View PDF</a>
        </li>
        <li class="list-group-item">
            Dam, S. (2025, February 6). <strong>What is a brain-computer interface (BCI)?</strong> AZoSensors.
            <br />
            <a href="https://www.azosensors.com/article.aspx?ArticleID=3149" target="_blank" class="text-primary">azosensors.com</a>
        </li>
        <li class="list-group-item">
            Vijayendra, A., Saksena, S. K., Vishwanath, R. M., & Omkar, S. N. (2018, January). <strong>A performance study of 14-channel and 5-channel EEG systems for real-time control of unmanned aerial vehicles (UAVs).</strong> In <em>2018 Second IEEE international conference on robotic computing (IRC)</em> (pp. 183-188). IEEE.
            <br />
            <a href="https://ieeemilestones.ethw.org/w/images/8/8d/A_Performance_Study_of_14-Channel_and_5-Channel_EEG_Systems_for_Real-Time_Control_of_Unmanned_Aerial_Vehicles_%28UAVs%29.pdf" target="_blank" class="text-primary">View PDF</a>
        </li>
        <li class="list-group-item">
            Nicolas-Alonso, L. F., & Gomez-Gil, J. (2012). <strong>Brain computer interfaces, a review.</strong> <em>Sensors (Basel, Switzerland), 12</em>(2), 1211–1279.
            <br />
            <a href="https://doi.org/10.3390/s120201211" target="_blank" class="text-primary">https://doi.org/10.3390/s120201211</a>
        </li>
        <li class="list-group-item">
            Burwell, S., Sample, M., & Racine, E. (2017). <strong>Ethical aspects of brain computer interfaces: A scoping review.</strong> <em>BMC Medical Ethics, 18</em>(1), 60.
            <br />
            <a href="https://doi.org/10.1186/s12910-017-0220-y" target="_blank" class="text-primary">https://doi.org/10.1186/s12910-017-0220-y</a>
        </li>
        <li class="list-group-item">
            Mattia, D., & Tamburrini, G. (2014). <strong>Ethical Issues in Brain–Computer Interface Research and Systems for Motor Control.</strong> In <em>Springer eBooks</em> (pp. 725–740).
            <br />
            <a href="https://doi.org/10.1007/978-94-007-4707-4_42" target="_blank" class="text-primary">https://doi.org/10.1007/978-94-007-4707-4_42</a>
        </li>
        <li class="list-group-item">
            Jus Corpus. (2025, May 29). <strong>Brain-computer interfaces: Mental privacy, data ownership, and the dawn of neuro-rights.</strong>
            <br />
            <a href="https://www.juscorpus.com/brain-computer-interfaces-mental-privacy-data-ownership-and-the-dawn-of-neuro-rights/" target="_blank" class="text-primary">
                https://www.juscorpus.com/brain-computer-interfaces-mental-privacy-data-ownership-and-the-dawn-of-neuro-rights/
            </a>
        </li>
    </ul>
</div>
