@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5">
    <h1 class="mb-4">Team Formation</h1>

    <table class="table table-bordered text-center" style="background-color: #e7e7e7; border-collapse: collapse;">
        <thead style="background-color: #f1f1f1;">
            <tr style="color: #2b5876; font-weight: bold;">
                <th>Team Member Details</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Student ID</th>
            </tr>
        </thead>
        <tbody style="background-color: white;">
            <tr>
                <td style="color: #2b5876;"><strong>Team Member 1</strong></td>
                <td>Amar</td>
                <td>Muhammad</td>
                <td>24257787</td>
            </tr>
            <tr>
                <td style="color: #2b5876;"><strong>Team Member 2</strong></td>
                <td>Gani</td>
                <td>Mohammed</td>
                <td>22187643</td>
            </tr>           
        </tbody>
    </table>
</div>
